<div>
  <nav class="bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <layout-desktop-menu></layout-desktop-menu>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <layout-notifications-button></layout-notifications-button>
            <div class="ml-3 relative" (click)="toggleProfileDropdownMenu()">
              <layout-user-menu-button></layout-user-menu-button>
              <layout-profile-dropdown *ngIf="profileDropdownIsOpen"
                                       (mouseleave)="closeProfileDropdown()">
              </layout-profile-dropdown>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <layout-hamburger-menu-button (click)="toggleMobileMenu()"></layout-hamburger-menu-button>
        </div>
      </div>
    </div>
    <layout-mobile-menu *ngIf="mobileMenuIsOpen"></layout-mobile-menu>
  </nav>
  <layout-header [pageTitle]="pageTitle"></layout-header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <ng-content></ng-content>
    </div>
  </main>
</div>
