<div class="box-content container bg-transparent p-3 ml-4 mr-4 w-auto">
  <label for="price" class="block text-sm font-medium text-gray-700 text-xl">What's up?</label>
  <div class="mt-1 relative rounded-md shadow-sm">
    <input type="text" name="price" id="price"
           class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-2 pr-2 sm:text-sm border-gray-300 rounded-md">
  </div>
  <button
    class="flex items-center justify-center px-6 py-2 mt-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-2 md:text-lg md:px-6 md:text-sm">
    Add post
  </button>
</div>
